body,
h1,
h2,
p {
  padding: 0;
  margin: 0;
}

.chat-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat-screen {
  margin-top: 50px;
  /* display: flex;
  flex-direction: column; */
  /* align-items: ; */
}

.chat-screen {
  background-color: #eee;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  height: 600px;
  width: 500px;
  overflow: auto;
}

.ai-chat,
.user-chat {
  border: solid 1px black;
  width: 300px;
  margin-top: 10px;
  padding: 5px;
}

.ai-chat {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: rgb(230, 255, 148);
}

.user-chat {
  background-color: rgb(255, 221, 221);
  margin-left: auto;
  display: flex;
  /* align-content: end; */
  justify-items: flex-end;
}

.ai-chat-element {
  display: flex;
  padding-left: 5px;
}

.ai-chat-element:hover {
  font-style: italic;
  text-decoration: underline;
}
